.word-container {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  margin: 20px;
  max-height: 40px;
  border-radius: 5px;
  display: table; /* centers text vertically */
  cursor: pointer;

  -webkit-box-shadow: 0px 10px 11px 0px rgba(199,199,199,1);
  -moz-box-shadow: 0px 10px 11px 0px rgba(199,199,199,1);
  box-shadow: 0px 10px 11px 0px rgba(199,199,199,1);
}

/* for the phone */
@media only screen and (max-width: 375px) {
  .word-container {
    max-height: 15px;
    max-width: 15px;
    font-size: 10px;
    margin: 5px;
  }
}

p {
  font-family: "Lucida Console", Monaco, monospace;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* selected state */
.selected {
  background: #38AECC;
  box-shadow: 0px 10px 11px 0px #38AECC;
}

.wrongPairAnim {
  background: #B9314F;
  box-shadow: 0px 10px 11px 0px #B9314F;
}

/* solved state */
.solved {
  background: #CECECE;
  box-shadow: 0px 10px 11px 0px #CECECE;
  opacity: 0.5;
}

.solvedAnim {
  background: #6DECAF;
  box-shadow: 0px 10px 11px 0px #6DECAF;
  opacity: 1;
}
